body {
  margin: 0;
  font-family: 'Fraunces', serif;
  font-size: 1.2rem;
}

.name {
  font-family: 'Sacramento', cursive;
  font-size: 4.7rem;
  margin-bottom: 0;
}

.Underline {
  text-decoration: underline;
  font-size: 1.3rem;
}

.designation {
  font-family: 'Fraunces', serif;
  font-size: 1.3rem;
}

.about {
  text-align: center;
  padding: 80px 0 0 0;
  color: #0a043c;
}

.Introduction {
  background-color: #51c2d5;
}

.cloud {
  margin-top: 20px;
  height: 62px;
}

.top {
  position: absolute;
  right: 240px;
}

.bottom {
  position: absolute;
  left: 200px;
}

.mountain {
  width: 550px;
  margin: auto;
  padding: 20px 0 30px 0;
}

.middle-container {
  text-align: center;
  padding: 50px;
  background-color: #cae4db;
}

.my_pic {
  border-radius: 50%;
  width: 250px;
}

.profile{
  width: 30%;
  margin: 30px auto;
}

.computer {
  border-radius: 50%;
  width: 250px;
  float: left;
  margin: 20px 20px 80px 20px;
}

.chillies {
  border-radius: 50%;
  width: 250px;
  float: right;
  margin: 20px;
}

h2 {
  color: #11999E;
}

h3 {
  color: #11999E;
  text-align: left;
}

a {
  color: #11999E;
}

.skills{
  margin: 40px;
}
.skill-row{
  margin: 50px auto 60px auto;
  width: 60%;
  text-align: left;
  line-height: 2;
}

.para{
  text-align: left;
  margin-bottom: 170px;
}

.contact-me{
  width: 50%;
  margin: 100px auto;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Fraunces', serif;
  color: #ffffff;
  font-size: 20px;
  background: #00b0bd;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.bottom-container{
  text-align: center;
  padding: 50px;
  background-color: #66BFBF;
  color: #ffffff;
}

.footer-link{
  color: white;
  margin-left: 10px;
}
